<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 lead" style="margin-top: 50px; margin-bottom: 200px;">
      TumaJobs is a recruitment platform that aims to connect companies with the right talents. Our underpinning philosophy is to render the whole recruitment process convenient,
      less expensive and improve the user eperience.
      <br />
      <br />
      <br />
      For companies, TumaJobs is the ideal recruiting platform. It is free to use and companies can post an unlimited number of jobs on the platform.
      We believe that spending less and hiring right should not be mutually exclusive. We provide an affordable way to hire
      talents with our user friendly platform. TumaJobs was designed to increase the visibility of companies to the right candidates.
      <br />
      <br />
      <br />
      For job seekers, we understand that job searching is almost always a daunting task. Our mission is to lessen your burden by making it ridiculously
      easy to look for jobs and apply to the company that peaks your interest. In short, job searching is hard, job applications should be easy!
    </div>
  </div>
</div>




