<p>Hi Recruiter</p>
<p>You have successfully posted the job <%= link_to @job.title, job_url(@job) %></p>
<p>We will strive hard to make your job posting visible to qualified candidates </p>
<br>
<% if @job.job_email? %>
  <p>Job applications will be delivered via email to <%= @job.job_email %></p>
<% else %>
   <p>Job applicants will be redirected to this site <%= @job.job_url %> to apply for the job</p>
<% end %>
<br>
<p>We wish you the very best of luck</p>
