<p>Welcome to <%= link_to 'Tumajobs', jobs_url %>!</p>
<p>We are excited to assist you in your recruitment efforts</p>
<p>You have successfully created a User account</p>
<br>
<p>If you have not done so already, please go ahead to create a <strong>company profile</strong></p>
<p>Our platform presents an opportunity to post an unlimited number of jobs for <strong>free</strong></p>
<p>Thank you and have an awesome day!</p>
