<br>
<div class="container">
    <%= render 'jobs/partials/index/job_filters_mobile' %>
  <div class="row">
    <%= render 'jobs/partials/index/job_filters' %>
    <%= render 'jobs/partials/index/jobs' %>
  </div>
</div>
