<p>Hi <%= @talent.full_name %>,</p>
<p>This is your resume information <%= @talent.resume %></p>
<p>This is your cover letter information <%= @talent.cover_letter %></p>
<p><%= @talent.job.title %></p>
<p>Thanks for application, have a nice day</p>

