<p>We are beyond thrilled to have you with us!</p>
<p>You have successfully created a <%= link_to 'Company Profile', company_url(@company) %> at <%= link_to 'Tumajobs', jobs_url %></p>
<br>
<p>You can now go ahead and post an unlimited number of jobs for <strong>free</strong></p>
<p>We wish <%= link_to @company.name, company_url(@company)%> the very best of luck</p>

