.job-bar {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
  font-size: 20px;
  border: 1px solid #DEDFE3;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07);
  background-clip: padding-box;
  background-color: white;
  border-radius: 4px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.logo {
  align-self: center;
}

.job-bar .logo img.company-logo {
  width: 120px;
  max-height: 120px;
  padding: 15px;
}

.text {
  // -webkit-transition: all 0.2s ease;
  min-height: 120px;
  height: 100%;
  padding: 36px 25px;
  margin: 0 120px;
  border-left: 1px solid #F0F1F3;
  display: block;
}

.job-title {
  display: block;
  font-size: 18px;
  padding: 2px 0;
  font-weight: 500;
}

.company-name {
  display: block;
  font-size: 13px;
  color: #9DA3AF;
  font-weight: 500;
}

.job-info {
  font-size: 13px;
  color: #9DA3AF;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
}

.job-info:before {
    content:"• ";
}


.filter-style {
  margin-top: 20px;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: gray;
}

input[type="search"] {
  width: -webkit-fill-available;
}

@media only screen
and (max-device-width : 667px) {
  .jobs_search {
    margin-top: 10px;
  }
}

checkbox-hover:hover {
  color:gray;
}


.dropdown-menu {
  padding: 10px;
  min-width: max-content;
}

.label-adjust {
  margin-left: 0px !important;
}

